@section title{
    mockjs - Tests
}

@section styles{
    <link rel="stylesheet" href="/Vendor/qunit/qunit-1.17.1.css">
}

@section scripts{
    <script src="/Vendor/qunit/qunit-1.17.1.js"></script>
}

<div id="qunit"></div>
<div id="qunit-fixture"></div>