@using System.Web.Optimization;

@section title{
    mockjs - Tests
}

@section styles{
    @Styles.Render("~/VendorCSS")
}

@section scripts{
    @Scripts.Render("~/VendorJS")
    @Scripts.Render("~/MockJS")
    @Scripts.Render("~/TestsJS")
}

<div id="qunit"></div>
<div id="qunit-fixture"></div>