<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@RenderSection("title")</title>
    @RenderSection("styles", false)
    <meta name="description" content="Tests for the mock infrastructure" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>